<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v7.0&appId=634872043783979&autoLogAppEvents=1" nonce="rHqe8rqW"></script>

<div class="fb-login-button" data-size="large" data-button-type="continue_with" data-layout="default" data-auto-logout-link="false" data-use-continue-as="false" data-width=""></div>

<a *ngIf="!isRequesting" href="javascript:void(0)" (click)="launchFbLogin()"> <img src="/assets/facebook-login.png" /></a>


<!-- <div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div> -->


