.buttonx{
    visibility: hidden;
}
.list{
    width: 100px;
    font-size: 16px;
    text-align: center;
    margin-top: 3%;
    margin-left: 1,5%;
    margin-right: 1,5%;
}
a{
    text-decoration: none;
    color: black;
    margin-bottom: 5%;
}