<html>
  <body>
    <mat-drawer-container id="container" class="example-container">
      <mat-toolbar color="primary" class="navbar">
        <div [routerLink]="['/home']" >Barbachos</div>
        <div *ngIf="isLoggedIn()">
        </div>
        <div class="group1">
          <span *ngIf="!isLoggedIn()"><button class="acceder" mat-raised-button color="primary" [routerLink]="['/login']" >Acceder</button></span>
          <span><button mat-icon-button color="primary" class="casa" [routerLink]="['/home']">
            <mat-icon>home</mat-icon>
          </button></span>
          <span *ngIf="isLoggedIn()"><button mat-icon-button color="primary" class="perfil" [routerLink]="['/profile']">
            <mat-icon>face</mat-icon>
          </button></span>
          <span *ngIf="isLoggedIn()">
            <button mat-raised-button color="primary" (click)="logout()">Salir</button>
          </span>
        </div>
      </mat-toolbar>
    <router-outlet></router-outlet>
    
    </mat-drawer-container> 
   
  </body>

</html>