body{
    //background-color: rgb(19, 10, 43);
    background-color: #ffffff;
    text-align: center;
  
  }.divi{
    text-align: center;
  }
  h1 {
    color: black;
    font-weight: bold;
    //font-weight: normal;
    font-size: 20px;
    font-family: Arial; 
    text-align: center;
  }
  
  #formulario{
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
    /*background-color: #69F0AE;
    /* border: 3px solid #69F0AE; */
    background-color: #ffffff;
    box-shadow: 0 0 8px 0 #0082e6;
    width: 40%;
  }.example-full-width {
    border-bottom-width: chartreuse;
    width: 90%;
  }
  #btn-ingresar{
    background-color: #1A78C1;
    color: blanchedalmond;
  }
  #btn-Crear{
    background-color: #35DC79;
  }
  .divi{margin-top: 10px;}
    